:root {
  --dark-bg-color: #ffffff;
  --dark-color: #000; 
  --dark-home-bg-color: #f2f0f5;
  --dark-logo-color: #001529;
}

:dark {
  --dark-bg-color: #141414;
  --dark-color: #fff; 
  --dark-home-bg-color: #000;
  --dark-logo-color: #414141;
}