/* 根组件样式 */
#root {
  height: 100%;
}

/* App组件样式 */
div[class*="App"] {
  height: 100%;
}

.App {
  height: 100%;
}

/* 基础样式设置 */
#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
  color: #213547;
}

[data-theme="dark"] .card {
  color: rgba(255, 255, 255, 0.87);
}

.read-the-docs {
  color: #888;
}